# SeventeenLands client demo

## Setup notebook

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
from pyprojroot import here

# Set the root of the project as the working directory
os.chdir(here())

In [3]:
import pandas as pd

# Use `plotly` by default for visualizations
pd.options.plotting.backend = 'plotly'

## Demo code

In [4]:
from datetime import date
from pprint import pprint

from utils.api_clients.seventeen_lands.client import SeventeenLandsClient
from utils.api_clients.seventeen_lands.constants import MULTICOLOR, TRADITIONAL_DRAFT, UNCOMMON

In [5]:
client = SeventeenLandsClient()

In [6]:
colors = client.get_colors()

colors.head()

0    None
1       W
2       U
3       B
4       R
dtype: object

In [7]:
expansions = client.get_expansions()

expansions.head()

0       DMU
1    Y23DMU
2       2X2
3       HBG
4       CLB
dtype: object

In [8]:
event_types = client.get_event_types()

event_types.head()

0    PremierDraft
1       TradDraft
2      QuickDraft
3       CompDraft
4          Sealed
dtype: object

In [9]:
color_ratings = client.get_color_ratings(
    expansion='DMU',
    start_date=date(2020, 9, 1),
    end_date=date(2022, 10, 9),
    event_type=TRADITIONAL_DRAFT,
    combine_splash=True,
    user_group='top'
)

color_ratings.head()

   is_summary           color_name  wins  games
0        True  Mono-color + Splash    20     30
1       False  Mono-White + Splash     7     10
2       False   Mono-Blue + Splash     4      6
3       False  Mono-Black + Splash     6      7
4       False  Mono-Green + Splash     3      7

In [10]:
card_ratings = client.get_card_ratings(
    expansion='DMU',
    start_date=date(2020, 9, 1),
    end_date=date(2022, 10, 9),
    user_group='top'
)

card_ratings.head()

,name,color,rarity,seen_count,avg_last_seen_at,pick_count,avg_taken_at,games_played_count,games_played_win_rate,opening_hand_game_count,opening_hand_win_rate,drawn_game_count,drawn_win_rate,in_hand_game_count,in_hand_win_rate,not_drawn_game_count,not_drawn_win_rate,improvement_when_drawn
0,"Karn, Living Legacy",,mythic,677,1.838996,293,1.764505,1366,0.573939,235,0.553191,406,0.593596,659,0.582701,718,0.565460,0.017241
1,Anointed Peacekeeper,W,rare,1345,1.697398,754,1.692308,3780,0.617196,673,0.641902,975,0.627692,1676,0.634845,2121,0.603489,0.031356
2,Archangel of Wrath,WBR,rare,915,1.293989,774,1.272610,4335,0.645675,754,0.690981,1250,0.701600,2074,0.697686,2313,0.599654,0.098032
3,Argivian Cavalier,W,common,26351,4.025957,6892,4.923535,35453,0.631089,6257,0.651590,8751,0.625186,15128,0.635576,20406,0.627512,0.008065
4,Argivian Phalanx,W,common,32678,5.143154,4627,7.197104,19971,0.619348,3307,0.603568,4915,0.601628,8269,0.602975,11735,0.631018,-0.028043

In [11]:
card_evaluations = client.get_card_evaluations(
    expansion='DMU',
    start_date=date(2020, 9, 1),
    end_date=date(2022, 10, 9),
    event_type=TRADITIONAL_DRAFT,
    rarity=UNCOMMON,
    color=MULTICOLOR
)

card_evaluations.head()

,date,name,pick_count,avg_taken_at,seen_count,avg_last_seen_at
0,2022-09-01,"Aron, Benalia's Ruin",44.0,4.818182,174.0,3.764368
1,2022-09-01,"Baird, Argivian Recruiter",38.0,4.368421,201.0,4.139303
2,2022-09-01,"Balmor, Battlemage Captain",63.0,4.777778,197.0,4.416244
3,2022-09-01,Bortuk Bonerattle,50.0,5.180000,179.0,4.089385
4,2022-09-01,"Elas il-Kor, Sadistic Pilgrim",33.0,4.606061,170.0,3.770588

In [12]:
play_draw_stats = client.get_play_draw_stats()

play_draw_stats.head()

  expansion      event_type  average_game_length  win_rate_on_play
0       AFR  DraftChallenge             8.974823          0.510610
1       AFR    PremierDraft             9.073645          0.515004
2       AFR      QuickDraft             9.173480          0.509067
3       AFR          Sealed             9.089099          0.519491
4       AFR       TradDraft             8.787005          0.526127

In [13]:
trophy_decks = client.get_trophy_decks(
    expansion='DMU',
    event_type=TRADITIONAL_DRAFT
)

trophy_decks.head()

,time,colors,wins,losses,start_rank,end_rank,draft_id,deck_index
0,2022-10-16 11:05:00,URw,3,0,None,None,d89e5addd3ed4ea8945af1c4fb76b6d7,0
1,2022-10-16 11:03:00,URbg,3,0,None,None,25b347897bf244bb9ecb70863797f699,1
2,2022-10-16 10:54:00,UR,3,0,None,None,e3ad5bb71d0b4a5a9e452dc8af61de20,2
3,2022-10-16 10:48:00,UR,3,0,None,None,3b66f63824314b538eea271b778ed478,1
4,2022-10-16 09:39:00,UBR,3,0,None,None,6bb4d820b3e24e4f8258bbf2da4d4475,0

In [14]:
picks, cards_performance = client.get_draft(
    draft_id='e3ad5bb71d0b4a5a9e452dc8af61de20'
)

picks.head()

,expansion,pack_number,pick_number,colors,pick,available,known_missing,pool,possible_maindeck,probable_sideboard
0,DMU,0,0,None,Defiler of Instinct,"[Defiler of Instinct, Blight Pile, Mossbeard A...",[],[],[],[]
1,DMU,0,1,None,The Elder Dragon War,"[The Elder Dragon War, Balmor, Battlemage Capt...",[],[Defiler of Instinct],[Defiler of Instinct],[]
2,DMU,0,2,None,Knight of Dusk's Shadow,"[Djinn of the Fountain, Knight of Dusk's Shado...",[],"[Defiler of Instinct, The Elder Dragon War]","[Defiler of Instinct, The Elder Dragon War]",[]
3,DMU,0,3,None,Tolarian Terror,"[Inscribed Tablet, Artillery Blast, Clockwork ...",[],"[Defiler of Instinct, The Elder Dragon War, Kn...","[Knight of Dusk's Shadow, Defiler of Instinct,...",[]
4,DMU,0,4,None,Flowstone Kavu,"[Balduvian Atrocity, Aggressive Sabotage, Argi...",[],"[Defiler of Instinct, The Elder Dragon War, Kn...","[Knight of Dusk's Shadow, Defiler of Instinct,...",[]

In [15]:
cards_performance.head()

,name,seen_count,avg_last_seen_at,pick_count,avg_taken_at
0,"Karn, Living Legacy",1045.0,1.939713,480.0,1.993750
1,Anointed Peacekeeper,2055.0,1.862287,1088.0,1.893382
2,Archangel of Wrath,1372.0,1.267493,1133.0,1.248014
3,Argivian Cavalier,36662.0,3.845944,9076.0,4.820185
4,Argivian Phalanx,48473.0,5.302911,7531.0,7.355066

In [16]:
deck, deck_metadata = client.get_deck(
    draft_id='e3ad5bb71d0b4a5a9e452dc8af61de20',
    deck_index=2
)

deck.head()

      group    name
0  Maindeck  Island
1  Maindeck  Island
2  Maindeck  Island
3  Maindeck  Island
4  Maindeck  Island

In [17]:
pprint(deck_metadata.to_dict())

{'deck_links': ['/deck/e3ad5bb71d0b4a5a9e452dc8af61de20/0',
                '/deck/e3ad5bb71d0b4a5a9e452dc8af61de20/1',
                '/deck/e3ad5bb71d0b4a5a9e452dc8af61de20/2'],
 'details_link': '/details/e3ad5bb71d0b4a5a9e452dc8af61de20',
 'draft_link': '/draft/e3ad5bb71d0b4a5a9e452dc8af61de20',
 'event_type': 'TradDraft',
 'expansion': 'DMU',
 'losses': 0,
 'pool_link': '/pool/e3ad5bb71d0b4a5a9e452dc8af61de20',
 'sealed_deck_tech_link': 'https://sealeddeck.tech/17lands/deck/e3ad5bb71d0b4a5a9e452dc8af61de20/2',
 'wins': 3}